/*
//////////Graficas//////////////////////////////////////////////////////////////////////
*/

.Vista1 div{
  display: inline-block;
  border-radius: 20px;
  width: 30%;
  margin: 10px;
  padding: 15px;
}
.Proyeccion {
  background-color: #B3E5FCaa;
}

/*
//////////Datos y Descripcion//////////////////////////////////////////////////////////////////////
*/
