/*
//////////Graficas//////////////////////////////////////////////////////////////////////
*/

.Vista1 div{
  display: inline-block;
  border-radius: 20px;
  width: 35%;
  margin: 20px;
  padding: 30px;
  padding-bottom: 15px;
}
.Dona {
}
.Proyeccion {
  background-color: #d5f6ffff;
}

/*
//////////Datos y Descripcion//////////////////////////////////////////////////////////////////////
*/
.Datos {
  display: Flex;
  margin-left: 15%;
  align-items: center;
  justify-content: space-around;
}
.Efectivos p {
  display: inline-block;
  background-color: #d5f6ffff;
  padding: 5px;
  padding-right: 50px;
  padding-left: 10px;
}
.Efectivos b {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  margin-right: 0px;
}
.Gastos {
  background-color: #a70954dd;
  color: #d5f6ffff;
}
.Nomina {
  background-color: #00ffffdd;
}
.Utilidad {
  background-color: #74b90add;
}

.Descripcion {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #d5f6ffff;
    height: 100px;
    width: 44%;
}
