/*
//////////Graficas//////////////////////////////////////////////////////////////////////
*/
.Vista2 div{
  display: inline-block;
  border-radius: 20px;
  width: 30%;
  margin: 10px;
  padding: 15px;
}
.Proyeccion {
  background-color: #B3E5FCaa;
}
/*
//////////Datos y Descripcion//////////////////////////////////////////////////////////////////////
*/
.Gastos {
  background-color: #a70954dd;
  color: #d5f6ffff;
}
.Nomina {
  background-color: #00ffffdd;
}
.Utilidad {
  background-color: #74b90add;
}
