.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 0;
  top: 0;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: 5px;
}

.iniciarSesion {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  background-color: #dd0c6f;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.iniciarSesion:hover {
  background-color: #ffffff;
  color: #dd0c6f;
}

.App-header {
  background-color: #46ede1;
  height: 55px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #034641;
}

.App-intro {
  font-size: large;
}

.nav {
  background-color: #46ede1;
  padding: 10px;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
.botonNav {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  background-color:#ff760e;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}
.botonNav-end {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  background-color:#ff760e;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}
.botonNav:hover {
  //animation: App-logo-spin infinite 20s linear;
  background-color:#dd0c6f;
}
/*
////////////////////////Botones de navegacion/////////////////////////////////////////////////////////////////////////////
*/
.nav {
  padding: 10px;
  //position:absolute;
  //left:0;
  //bottom:0;
  //right:0;
}
.botonNav {
  display: inline-block;
  font-size: 12px;
  margin-right: 5%;
  border-radius: 5px;
  //background-color:#ff9900;
  cursor: pointer;
}
.botonNav-end {
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  //background-color:#ff9900;
  cursor: pointer;
}

i {
  font-size: 40px;
  //transition-duration:  0.5s;
  //transform: translateY(0px);
}
i:hover {
  //transition-duration:  0.5s;
  //transform: translateY(-10px);
}

.botonNav:hover {
}
/*
///////////Estilos del COntenido Principal//////////////////////////////////////////////////////////////////////////////////////////
*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
