Body {

}

.App {
  text-align: center;
}

/*
//////////////////////// Cabecera /////////////////////////////////////////////////////////////////////////////
*/

.App-logo {
  position: absolute;
  left: 0;
  top: 0;
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  margin: 15px;
}

.iniciarSesion {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  right: 0;
  background-color: #ff793f;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.iniciarSesion:hover {
  background-color: #dd0c6f;
}

.App-header {
  background-color: #34ace0;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.1em;
  color: #E1F5FE;
}

/*
////////////////////////Botones de navegacion/////////////////////////////////////////////////////////////////////////////
*/

.nav {
  background-color: #34ace0;
  color: #E1F5FE;
  padding-bottom: 5px;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
.botonNav {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  margin-right: 5%;
  border-radius: 5px;
  background-color:#34ace0;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  transition-duration:  0.5s;
  transform: translateY(0px);
}
.botonNav-end {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  background-color:#34ace0;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  transition-duration:  0.5s;
  transform: translateY(0px);
}
.botonNav:hover {
  //animation: App-logo-spin infinite 20s linear;
  background-color:#34ace0;
  color: #E1F5FE;
  transition-duration:  0.9s;
  transform: translateY(-37px);
}
.botonNav-end:hover {
  //animation: App-logo-spin infinite 20s linear;
  background-color:#34ace0;
  color: #E1F5FE;
  transition-duration:  0.9s;
  transform: translateY(-37px);
}

i {
  font-size: 30px;
}

/*
///////////Estilos del COntenido Principal//////////////////////////////////////////////////////////////////////////////////////////
*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
