.centrar {
	margin-top: 30px;
}

.derecha{
	float:right;
	margin-top: 20px;
	margin-right: 10%;
	width: 530px;
	height: 340px;
}
.izquierda{
	float: left;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 10%;
	width: 530px;
	background-color:  #B3E5FCaa;
	height: 340px;
}
.listas{
	cursor: pointer;
	font-family: fantasy;
	list-style-type: none;
	background-color:#FFFFFF;
	margin: 10px;
}
.listas:hover{
	background-color:#96ef0dff;
}
.boton_listas{
	cursor: pointer;
	left: 325px;
	width: 70px;
	height: 50px;
	font-family: fantasy;
	position: absolute;
	top: 425px;
	border-style: none;
	background-color: #dd0c6fbb;
	border-radius: 2px;
}
.boton_listas:hover{
	background-color: #dd0c6fff;
}
.boton_listas2{
	cursor: pointer;
	left: 410px;
	width: 70px;
	height: 50px;
	font-family: fantasy;
	position: absolute;
	top: 425px;
	border-style: none;
	background-color: #96ef0dbb;
	border-radius: 2px;
}
.boton_listas2:hover{
	background-color: #96ef0dff;
}
.foto{
	position: relative;
	left: 100px;
	background-color: #2bd500;
	width: 120px;
	height: 120px;
}
.calendario{
	padding-top: 10px;
}
.borrame{
	position: relative;
	left: 100px;
	width: 600px;
}
.nombreEmp{
	position: relative;
	bottom: 80px;
	float: right;
	width: 270px;
	height: 30px;
	background-color: #fff;
}
